body {
   background-color: rgb(82, 79, 79);
}


table {
   
   margin: 0 auto;
    border-collapse: separate;
    border-spacing: 5px;
    background: #000 url("gradient.gif") bottom left repeat-x;
    color: #fff;
 }
 td, th {
    background: #fff;
    color: #000;
 }